@import "../../../styles/variables";

.Cloud{
  position: absolute;
  bottom: 65px;
  right: 10px;
  width: 280px;
  text-align: left;
  padding: 15px;
  background-color: #183042;
  color: #ffffff;
  font-size: 14px;
  .RemoveBtn{
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    button{
      background-color: unset;
    }
    span{
      background: unset;
    }
  }
}
