@import "styles/variables";

.Item{
  .Image{
    height: 253px;
    background-color: $white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .Info{
    padding: 20px 20px 33px;
    border-radius: 6px;
    background-color: $body-color;
    .Wrapper{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #9c9c9c;
      text-align: left;
      margin-top: 10px;
      font-size: 1.2rem;
      text-shadow: 0 0 0 #9c9c9c;
      min-height: 90px;
      max-height: 90px;
      transition: all .3s ease;
      &.Open{
        -webkit-line-clamp: unset;
        max-height: fit-content;
        /* width */
        &::-webkit-scrollbar {
          width: 7px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 6px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
    }
    span {
      float: right;
      color: $light-blue;
      font-weight: 700;
      text-transform: lowercase;
      font-size: 20px;
      cursor: pointer;
    }
    .Name{
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .Desc{
      width: 100%;
      color: $brand-gray;
      font-size: 16px;
      line-height: 24px;
      p{
        margin-bottom: 0;
      }
    }
    &:hover {
      background-color: $white;
      box-shadow: 0 0 22px rgba(39, 39, 39, 0.3);
    }
  }
}

@media (max-width: 991px){
  .Item{
    .Image{
      height: 200px;
    }
    .Info{
      span{
        font-size: 16px;
      }
      .Wrapper{
        min-height: 75px;
        max-height: 75px;
      }
      .Name{
        font-size: 16px;
        line-height: 24px;
      }
      .Desc{
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}
