@import "styles/variables";

.Quality{
  margin-top: 150px;
  .Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    p{
      font-size: 18px;
      color: $brand-gray;
      margin-top: 20px;
    }
    .Inner{

    }
  }
  .Image{
    margin: 0 0 0 auto;
  }
}

@media (max-width: 991px) {
  .Quality{
    margin-top: 100px;
    .Text{
      p{
        font-size: 14px;
        line-height: 21px;
      }
    }
    .Image{
      margin: 40px auto;
      width: 280px;
    }
  }
}