.MyModal{
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff;
  border: 1px solid transparent;
  padding: 30px 35px;
  max-width: 380px;
  &.Error{
    border-color: #ff0000;
  }
  &.Success{
    border-color: green;
  }
  button{
    width:40px;
    height: 40px;
    border-radius: 50%;
    &.ErrorBtn{
      background: #ff0000;
    }
    &.SuccessBtn{
      background: green;
    }
  }
}