
@import "../../../styles/variables";
.MyModal{
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff;
  padding: 30px 35px;
  max-width: 380px;
  z-index: 100;
  filter: drop-shadow(0px 10px 22px rgba(24, 48, 66, 0.3));
  span{
    cursor: pointer;
    color: $brand-red;
  }
  button{
    width:40px;
    height: 45px;
    clip-path: polygon(50% 0, 100% 23%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    font-weight: 900;
    margin-top: 15px;
    &.ErrorBtn{
      background: #932322;
    }
    &.SuccessBtn{
      background: green;
    }
  }
}
