.TabList{
    text-align: right;
    li{       
        &:first-child{
            right: -48px;
            z-index: 5;
        }
            a{
                background: linear-gradient(208deg, transparent 11px,#b0b8c0 0)
            }            

        &.Selected{
            a{
                background: linear-gradient(208deg, transparent 11px,#183042 0)
            }        
        }    
    }
}