@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat arm", sans-serif !important;
  background-color: $body-color!important;
  &.open{
    overflow: hidden;
  }
}

body a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  &:hover{
    color: unset;
    text-decoration: none;
  }
  &:focus{
    outline: none;
  }
}

body ul{
  list-style: none;
  padding: 0;
}

body h4{
  font-size: 30px;
  font-weight: 700;
  text-transform: lowercase;
  &:first-letter{
    text-transform: uppercase;
  }
}

body input, body textarea{
  font-size: 18px;
  &::placeholder{
    font-size: 18px;
  }
}


* {
  box-sizing: border-box;
}

button{
  border: none;
  color: $white;
  &:focus{
    outline: none;
  }
}

img{
  width: 100%;
  height: auto;
}

svg{
  width: 100%;
}

#__next{
  overflow: hidden;
}

.swiper-button-next, .swiper-button-prev{
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 15px!important;
  top: 16px!important;
}

.main_slider .swiper-button-next, .main_slider .swiper-button-prev{
  top: 10%!important;
}

.swiper-button-prev {
  background-image: url('/images/icons/chevron-left.svg');
  left: calc(100% - 50px)!important;
}


.swiper-button-next {
  background-image: url('/images/icons/chevron-right.svg');
  right: 0!important;
}

.inner_slider .swiper-button-next{
  right: 166px!important;
}

.inner_slider .swiper-button-prev {
  background-image: url('/images/icons/chevron-left.svg');
  left: calc(100% - 225px)!important;
}

.swiper-button-next {
  &:after{
    display: none!important;
  }
}

.swiper-button-prev {
  &:after {
    display: none !important;
  }
}

.swiper-pagination-bullet{
  width: 10px!important;
  height: 10px!important;
  background: $brand-gray!important;
  margin-right: 15px!important;
  &.swiper-pagination-bullet-active{
    background: $brand-red!important;
  }
}

.error{
  background-color: #ffeff0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  p{
    margin: 0;
  }
}


#checkoutBranch{
  padding: 4px;
  margin: 0;
}



/*--- Loader ---*/
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $brand-red;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: .5;
}

#nprogress .spinner-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: $brand-red;
  border-left-color: $brand-red;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*--- End Loader ---*/



@media (max-width: 991px){
  body h4{
    text-align: center;
    font-size: 22px;
    line-height: 33px;
  }

  .swiper-button-next, .swiper-button-prev{
    width: 12px!important;
  }

}

@media (max-width: 476px){

}


@keyframes spinning-circle {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: 150.6 100.4;
  }
  50% {
    stroke-dasharray: 1 250;
  }
  100% {
    stroke-dashoffset: 502;
    stroke-dasharray: 150.6 100.4;
  }
}

.spinner__circle {
  animation: 2s linear spinning-circle infinite;
}

